.pic00 {
  background: url("photos/set1/pic00.jpg");
}
.pic01 {
  background: url("photos/set1/pic01.jpg");
}
.pic02 {
  background: url("photos/set1/pic02.jpg");
}
.pic03 {
  background: url("photos/set1/pic03.jpg");
}
.pic04 {
  background: url("photos/set1/pic04.jpg");
}
.pic05 {
  background: url("photos/set1/pic05.jpg");
}